In [104]:
import numpy as np
import pandas as pd

In [106]:
df = pd.read_csv("../data/df_stats.csv")

In [107]:
df.head()

,ts_name,freq_ids,type,m,b,count,mean,std,min,q25,q50,q75,max
0,M41821,"[184, 409, 166, 409, 0]",fft,-1.930820,8264.479369,477.0,7796.651992,3055.512229,3412.000,5153.000,7231.000,9697.000,14718.000
1,M41822,"[166, 409, 136, 409, 0]",fft,39.556878,-105.546726,477.0,9040.918595,7698.172253,1777.240,3240.200,5447.190,11961.370,32096.660
2,M41823,"[166, 409, 409, 136, 0]",fft,12.526905,-861.901341,477.0,2069.459388,1829.340597,111.496,342.161,1398.506,3884.050,6941.477
3,M41824,"[409, 166, 409, 136, 0]",fft,50.537625,-4350.076859,477.0,7490.976122,7581.540084,428.090,967.370,4876.480,14473.290,26530.140
4,M41825,"[166, 409, 136, 409, 0]",fft,12.528268,-862.019547,477.0,2070.422956,1811.044769,117.119,342.299,1364.063,3934.564,6637.992

In [121]:
y_ts = df[(df['ts_name']=='Y6591') & (df['type']=='Hamming')]
m_ts = df[(df['ts_name']=='Q16270') & (df['type']=='Hamming')]

In [122]:
y_ts

,ts_name,freq_ids,type,m,b,count,mean,std,min,q25,q50,q75,max
96214,Y6591,"[406, 294, 246, 408, 0]",Hamming,254.359979,-272.470598,40.0,4687.549,3017.950182,624.64,2107.715,4017.86,7164.7325,11179.82

In [118]:
m_ts

,ts_name,freq_ids,type,m,b,count,mean,std,min,q25,q50,q75,max
299610,Q16270,"[249, 408, 218, 409, 0]",Hamming,42.482416,6864.10664,74.0,8359.324324,1006.463129,6440.0,7385.0,8510.0,9287.5,10200.0

In [123]:
abs(y_ts['m'].values-m_ts['m'].values)

array([211.87756313])

In [125]:
abs(y_ts['q75'].values-m_ts['q75'].values)

array([2122.7675])