In [146]:
import pandas as pd
from tqdm.notebook import tqdm

In [147]:
df = pd.read_csv("../df_approx_windows.csv")

In [148]:
df.head()

  ts_name     type                    freqs
0      D1  Hamming  [0, 119, 149, 167, 180]
1      D1    Welch  [0, 119, 149, 167, 180]
2      D1      fft  [0, 119, 149, 167, 180]
3     D10  Hamming  [0, 119, 149, 167, 180]
4     D10    Welch  [0, 119, 149, 167, 180]

In [ ]:
d