In [93]:
import os
import random
import re

import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

In [15]:
df = pd.read_csv("../data/ucr_data/UCRArchive_2018/ItalyPowerDemand/ItalyPowerDemand_TRAIN.tsv",
                sep='\t', header=None)

In [9]:
!cat ../data/ucr_data/UCRArchive_2018/ItalyPowerDemand/README.md

# ItalyPowerDemand

The data were derived from twelve monthly electrical power demand time series of Italy and first used in [1]. The classification task is to distinguish days from Oct to March (inclusive) and from April to September.

Train size: 67

Test size: 1029

Missing value: No

Number of classses: 2

Time series length: 24

Data donated by Eamonn Keogh and Li Wei (see [1], [2]).

[1] Keogh, Eamonn, et al. "Intelligent icons: Integrating lite-weight data mining and visualization into GUI operating systems." Data Mining, 2006. ICDM'06. Sixth International Conference on. IEEE, 2006.

[2] http://www.timeseriesclassification.com/description.php?Dataset=ItalyPowerDemand

In [16]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,-0.710518,-1.183320,-1.372442,-1.593083,-1.467002,-1.372442,-1.088760,0.045967,0.928532,...,-0.647477,-0.269235,-0.206195,0.613330,1.369815,1.464375,1.054613,0.581810,0.172048,-0.269235
1,1,-0.993009,-1.426786,-1.579884,-1.605401,-1.630917,-1.375754,-1.018526,-0.355102,0.716583,...,0.486936,0.563485,0.614518,0.308322,0.257289,1.099327,1.048295,0.691066,-0.048906,-0.380618
2,2,1.319067,0.569774,0.195128,-0.085856,-0.179518,-0.273180,-0.085856,-1.397118,-1.116134,...,-0.554164,-0.741487,-0.741487,-0.741487,-1.116134,-0.460503,0.476113,2.349344,2.255682,1.600052
3,2,-0.812444,-1.157553,-1.416385,-1.531421,-1.502662,-1.416385,-1.646458,-0.467335,0.654269,...,0.740547,0.884342,0.884342,0.683028,0.625510,0.424197,-0.007190,-0.035949,0.107847,-0.266022
4,1,-0.972840,-1.390518,-1.536705,-1.620240,-1.620240,-1.453169,-0.993724,0.050469,0.635218,...,0.321960,0.489031,0.614334,1.303502,1.240850,1.073779,0.551682,0.426379,-0.179253,-0.638698

### Join all relevant files

In [56]:
re.match?

Signature: re.match(pattern, string, flags=0)
Docstring:
Try to apply the pattern at the start of the string, returning
a Match object, or None if no match was found.
File:      ~/anaconda3/lib/python3.7/re.py
Type:      function

In [62]:
for root, dirs, files in os.walk("../data/ucr_data/UCRArchive_2018/"):
    for name in files:
        if(name.endswith("_TRAIN.tsv")):
            folders = re.split("/", root)
            ts_name = folders[-1]
#             print(re.match("\/([^\/]+)\/?$", root))

In [67]:
ts_infos = []
for root, dirs, files in os.walk("../data/ucr_data/UCRArchive_2018/"):
    for name in files:
        if(name.endswith("_TRAIN.tsv")):
            path_tmp = os.path.join(root,name)
            ts_name = re.split("/", root)[-1]
            ts_infos.append((ts_name, os.path.join(root,name)))
            
ts_infos[:10]

[('Haptics', '../data/ucr_data/UCRArchive_2018/Haptics/Haptics_TRAIN.tsv'),
 ('SyntheticControl',
  '../data/ucr_data/UCRArchive_2018/SyntheticControl/SyntheticControl_TRAIN.tsv'),
 ('Worms', '../data/ucr_data/UCRArchive_2018/Worms/Worms_TRAIN.tsv'),
 ('Computers',
  '../data/ucr_data/UCRArchive_2018/Computers/Computers_TRAIN.tsv'),
 ('HouseTwenty',
  '../data/ucr_data/UCRArchive_2018/HouseTwenty/HouseTwenty_TRAIN.tsv'),
 ('GestureMidAirD3',
  '../data/ucr_data/UCRArchive_2018/GestureMidAirD3/GestureMidAirD3_TRAIN.tsv'),
 ('Chinatown',
  '../data/ucr_data/UCRArchive_2018/Chinatown/Chinatown_TRAIN.tsv'),
 ('UWaveGestureLibraryAll',
  '../data/ucr_data/UCRArchive_2018/UWaveGestureLibraryAll/UWaveGestureLibraryAll_TRAIN.tsv'),
 ('Strawberry',
  '../data/ucr_data/UCRArchive_2018/Strawberry/Strawberry_TRAIN.tsv'),
 ('Car', '../data/ucr_data/UCRArchive_2018/Car/Car_TRAIN.tsv')]

In [76]:
df = pd.DataFrame()

for ts_info in tqdm(ts_infos):
    ts_name = ts_info[0]
    fp = ts_info[1]
    
    df_tmp = pd.read_csv(fp, sep='\t', header=None)
    df_tmp['name'] = ts_name
    cols = df_tmp.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    df_tmp = df_tmp[cols]
    df = df.append(df_tmp)

  0%|          | 0/143 [00:00<?, ?it/s]

In [84]:
random.randint(0, 100) for

Signature: random.randint(a, b)
Docstring:
Return random integer in range [a, b], including both end points.

File:      ~/anaconda3/lib/python3.7/random.py
Type:      method

In [89]:
?random.randrange?

Signature: random.randrange(start, stop=None, step=1, _int=<class 'int'>)
Docstring:
Choose a random item from range(start, stop[, step]).

This fixes the problem with randint() which includes the
endpoint; in Python this is usually not what you want.
File:      ~/anaconda3/lib/python3.7/random.py
Type:      method

In [95]:
list(np.random.randint(0, 100, 4))

[53, 9, 14, 44]

In [102]:
random.randint(0,1000)

139

In [112]:
df = pd.DataFrame()
for i in range(5):
    
    name = random.choice(['A','B'])
    type_cls = random.randint(1,2)
    val1 = random.randint(0,1000)
    val2 = random.randint(0,1000)
    val3 = random.randint(0,1000)
    val4 = random.randint(0,1000)
    val5 = random.randint(0,1000)
    
    df_tmp = pd.DataFrame([[name,type_cls,val1,val2,val3,val4,val5]], columns=['name', 'class', 1,2,3,4,5])

    df = df.append(df_tmp)
    
df

  name  class    1    2    3    4    5
0    B      1    9  486  904  168  399
0    B      2   40  954  889  112  818
0    A      2  897  871  375  640   54
0    A      1  261  847  736  266  501
0    B      1  869  144  925  782  438

In [115]:
df.reset_index(inplace=True)

In [130]:
df.head()

   index name  class    1    2    3    4    5
0      0    B      1    9  486  904  168  399
1      0    B      2   40  954  889  112  818
2      0    A      2  897  871  375  640   54
3      0    A      1  261  847  736  266  501
4      0    B      1  869  144  925  782  438

In [132]:
df.index.values

array([0, 1, 2, 3, 4])

In [128]:
def separate_ts(s: pd.Series):
    print(s)
    name = s['name']
    cls_type = s['class']
    ar = np.array(s.iloc[2:].dropna())
    print("name: {}, class: {}, ar: {}".format(name,cls_type,ar))
    return (name,cls_type,ar)

In [129]:
res = df.apply(separate_ts, axis=1)

index      0
name       B
class      1
1          9
2        486
3        904
4        168
5        399
Name: 0, dtype: object
name: B, class: 1, ar: [1 9 486 904 168 399]
index      0
name       B
class      2
1         40
2        954
3        889
4        112
5        818
Name: 1, dtype: object
name: B, class: 2, ar: [2 40 954 889 112 818]
index      0
name       A
class      2
1        897
2        871
3        375
4        640
5         54
Name: 2, dtype: object
name: A, class: 2, ar: [2 897 871 375 640 54]
index      0
name       A
class      1
1        261
2        847
3        736
4        266
5        501
Name: 3, dtype: object
name: A, class: 1, ar: [1 261 847 736 266 501]
index      0
name       B
class      1
1        869
2        144
3        925
4        782
5        438
Name: 4, dtype: object
name: B, class: 1, ar: [1 869 144 925 782 438]

In [127]:
res

0      (B, 1, [1, 9, 486, 904, 168, 399])
1     (B, 2, [2, 40, 954, 889, 112, 818])
2     (A, 2, [2, 897, 871, 375, 640, 54])
3    (A, 1, [1, 261, 847, 736, 266, 501])
4    (B, 1, [1, 869, 144, 925, 782, 438])
dtype: object