In [23]:
import numpy as np
import pandas as pd

In [18]:
df = pd.read_csv("../data/df_ucr_apx_win.csv")

In [19]:
df['class'] = df['class'].fillna(99999)
df['class'] = df['class'].astype(int)

In [20]:
df.head()

,ts_name,type,fhat,PSD,freq,freq_apx_idx,freq_apx,no,class
0,GestureMidAirD1,fft,125.035156,43.42719503886583,0.000000,0,0.000000,130,2
1,GestureMidAirD1,fft,8181.772837,185948.35211026142,2.777778,148,2.801772,130,2
2,GestureMidAirD1,fft,7827.193458,170180.43731342163,5.555556,179,5.631333,130,2
3,GestureMidAirD1,fft,3485.748495,33751.22935353714,8.333333,197,8.445986,130,2
4,GestureMidAirD1,fft,3293.202361,30125.50496764828,11.111111,210,11.318522,130,2

In [21]:
df['class'].unique()

array([ 2,  4, 25,  6, 22, 11, 15, 21, 16, 26, 12,  5,  9, 24, 10,  8, 18,
       20, 14,  1, 13,  7,  3, 19, 17, 23,  0, 28, 36, 29, 34, 33, 37, 32,
       27, 30, 31, 35, -1, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
       50, 51, 52, 60, 59, 53, 54, 55, 56, 57, 58])

In [27]:
tup = ('test', 1, 2, np.array([1,2,3]))
tup2 = ('test', 2, 1, np.array([4,5,6]))

In [31]:
series_l = [pd.Series(tup),
pd.Series(tup2)]

In [32]:
pd.DataFrame(series_l)

      0  1  2          3
0  test  1  2  [1, 2, 3]
1  test  2  1  [4, 5, 6]

In [33]:
!cat ../data/ucr_data/UCRArchive_2018/Adiac/README.md

# Adiac

The Automatic Diatom Identification and Classification (ADIAC) project was a pilot study concerning automatic identification of diatoms (unicellular algae) on the basis of images. The data was donated by Andrei Jalba, a PhD student in the project, which was finished in the early 2000s. The outlines are extracted from thresholded images. Presumably the time series are generated as distance to a reference point (the centre being the obvious candidate). The data are very sinusoidal.

Train size: 390

Test size: 391

Missing value: No

Number of classses: 37

Time series length: 176

Data donated by Andrei Jalba (see [1], [2]).

[1] Jalba, Andrei C., Michael HF Wilkinson, and Jos BTM Roerdink. "Automatic segmentation of diatom images for classification." Microscopy research and technique 65.1‚Äê2 (2004): 72-85.

[2] http://www.timeseriesclassification.com/description.php?Dataset=Adiac